;User defined touch control placement. This file contains only positions that have
; been modified by the user and is loaded on top of the defaults file.
resolution 1280x720
PositionAndScale 55, 68, 45, 45 ; WIDGET_POSITION_RADAR
PositionAndScale 590, 22, 44, 15 ; WIDGET_POSITION_HELP_TEXT
PositionAndScale 56, 24, 50, 17 ; WIDGET_POSITION_HELP_TEXT_ALT
PositionAndScale 56, 300, 50, 15 ; WIDGET_POSITION_HELP_TEXT_ALT_SHOPS
